/* You can add global styles to this file, and also import other style files */

:root {
  --theme-color: #42b983;
  --theme-color-secondary-light: #bdffe1;
  --cover-background-color: linear-gradient(to left bottom, hsl(28, 100%, 85%) 0%,hsl(149, 100%, 85%) 100%);
 --sidebar-border-width: 1px;
 --sidebar-border-color: #e3e3e3;
}

:root { /* sidebar pagelinks */
  --sidebar-nav-pagelink-background-image             : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cg opacity='.2'%3E%3Cpath d='M0 2V0h8v2zM0 5.073V3h8v2.073zM0 7.425V6h8v1.425l-4 .593z'/%3E%3C/g%3E%3C/svg%3E");
  --sidebar-nav-pagelink-background-image--active     : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' fill='%230074d9' height='8'%3E%3Cg opacity='.6'%3E%3Cpath d='M0 2V0h8v2zM0 5.073V3h8v2.073zM0 7.425V6h8v1.425l-4 .593z'/%3E%3C/g%3E%3C/svg%3E");
  --sidebar-nav-pagelink-background-image--collapse   : var(--sidebar-nav-pagelink-background-image);
  --sidebar-nav-pagelink-background-image--loaded     : var(--sidebar-nav-pagelink-background-image);
  --sidebar-nav-pagelink-background-position: calc(100% - 7px) center;
  --sidebar-nav-pagelink-background-position--active: var(--sidebar-nav-pagelink-background-position);
  --sidebar-nav-pagelink-background-position--collapse: var(--sidebar-nav-pagelink-background-position);
  --sidebar-nav-pagelink-background-position--loaded: var(--sidebar-nav-pagelink-background-position--active);
  --sidebar-nav-pagelink-padding: 0;
  --sidebar-nav-pagelink-transition: none;
  --sidebar-toggle-background: hsl( 113 , 0% , 89%);
  --sidebar-toggle-border-radius: 0 var(--border-radius-s) var(--border-radius-s) 0;
  --sidebar-toggle-width: 32px;
  --sidebar-nav-pagelink-background-repeat: no-repeat;
}

section.cover {
  background: linear-gradient(to left bottom, hsl(28, 100%, 85%) 0%,hsl(149, 100%, 85%) 100%);
}

section.cover .cover-main {
  padding-top: calc(50vh - 200px);
}

section.content footer {
  margin: 30px 0;
  text-align: center;
}

section.cover hr,
footer hr {
  border: none;
  border-bottom: 1px solid var(--theme-color-secondary-light, #0074d92e);
  margin: 2em 20%;
}

/* TODO: Move this to core*/
.sidebar.left-sidebar .sidebar-nav ul > li > ul {
  overflow: hidden;
  line-height: 0;
  opacity: 0;
  transition: line-height 0.2s ease-in-out, opacity 0.4s ease-in-out;
}

.sidebar.left-sidebar .sidebar-nav ul > li.active > ul {
  opacity: 1;
  line-height: 2;
}

.sidebar .sidebar-nav ul li:hover > a,
.sidebar .sidebar-nav ul li.active a {
  border-right: none !important;
}

.sidebar .sidebar-nav ul ul {
  border-right: none !important;
  border-left: 1px solid var(--theme-color-secondary-light, #29D0CA);
  margin: 0 0 0 0.5em;
}

.sidebar .sidebar-nav ul li {
  padding: 0 0 0 0.5rem !important;
  margin: 0;
}

.sidebar .sidebar-nav ul li,
.sidebar .sidebar-nav ul li > p {
  font-weight: bold;
}

.sidebar .sidebar-nav li ul > li,
.sidebar .sidebar-nav ul ul > li > p {
  font-weight: normal;
}

.sidebar-nav li>p.has-children {
  background-image: var(--sidebar-nav-pagelink-background-image--loaded, var(--sidebar-nav-pagelink-background-image));
  background-position: var(--sidebar-nav-pagelink-background-position--loaded, var(--sidebar-nav-pagelink-background-image));
  padding: var(--sidebar-nav-pagelink-padding, var(--sidebar-nav-link-padding));
  transition: var(--sidebar-nav-pagelink-transition);
  background-repeat: var(--sidebar-nav-pagelink-background-repeat);
  background-size: var(--sidebar-nav-pagelink-background-size);
}

.sidebar-nav li>p.has-children.active {
  background-image: var(--sidebar-nav-pagelink-background-image--active, var(--sidebar-nav-pagelink-background-image));
  background-position: var(--sidebar-nav-pagelink-background-position--active, var(--sidebar-nav-pagelink-background-image));
}